/* .landing-warp {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 10% auto 10%;
  grid-gap: 20px;
} */

/* .swc-wrapper {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  justify-self: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
} */
