body {
  background-color: #ffe6f2;
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
}

.social-links {
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
}

.social-icon {
  padding-left: 25px;
}

.button {
  position: fixed;
  top: 30px;
  right: 40px;
}

.no-decoration {
  list-style: none;
}
